// nav-om -large sizes
.nav-om {
  display: flex;
  align-items: center;
  position: relative;
  gap: 120px;
  z-index: 1;

  @include md {
    gap: 75px;
  }


  .close-button__,
  .nav_logo__ {
    display: none;
  }
  

  .nav-list-om {
    display: flex;
    margin-bottom: 0;
    gap: 25px;

    @include md {
      gap: 15px;
    }

    @include dir {
      gap: 20px;
    }


    > li {
      cursor: pointer;

      > a {
        padding: 10px 0;
        font-size: 14px;
        color: #fff;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        text-decoration: none;
        transition: 0.5s;
        // padding: 10px 0;
        position: relative;
        display: block;
        margin: 0;
        text-align: start;

        @include dir {
          font-size: 14px;
        }
        
        @include md {
          @include dir {
            font-size: 9px;
          }
        }

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          inset-inline-start: 0;
          width: 0;
          height: 4px;
          background-color: #fff;
          transition: 0.5s;
        }

        &:hover {
          &::before {
            width: 100% !important;
          }
        }

      }

      &.active {
        a {
          font-size: 14px;
          font-weight: 700;

          &::before {
            width: 43%;
          }
        }
      }
    }
  }
}

// nav-om  sm - xs size
@include sm {
  .nav-om {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 80%;
    z-index: 1111;
    padding: 20px;
    transition: 0.5s;
    overflow-y: auto;
    display: block;
    padding-top: 90px;
    background-color: $primaryColor;
    display: flex;
    flex-direction: column;
    gap: 25px;
    

    .nav_logo__ {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      // margin-bottom: 10px;
      max-width: 150px;

      img {
        max-width: 100%;
        // filter: brightness(0) invert(1);
      }
    }

    .close-button__ {
      display: block;
    }

    // .bavbar-logo-om {
    //   display: flex;
    //   max-width: 100%;
    //   justify-content: center;
    //   margin-bottom: 50px;
    //   filter: brightness(0) invert(1);

    //   img {
    //     max-width: 100%;
    //   }
    // }

    @include dir {
      left: -100%;
      right: unset;
    }

    &.active-menu {
      right: 0;

      @include dir {
        left: 0;
        right: unset;
      }
    }

    .nav-list-om {
      display: block;
      order: 3;
      width: 100%;
      margin: 0;

      @include dir {
        margin: 0;
        padding: 0;
      }

      > li {

        > a {
          color: #fff !important;
          padding: 10px 25px;
          display: block;
          margin: 0;
          font-size: 10px;

          &::after {
            content: none;
            display: none;
          }

          @include dir {
            margin: 0;
          }

          &:hover {
            background-color: transparent;
          }
        }

        &.active {
          a {
            color: $primaryColor;
            font-size: 10px;
            font-weight: 700;
  
            &::after,
            &::before {
              display: none;
            }
          }
        }

        &:nth-child(odd) {
          > a {
            background-color: rgba(#fff, 0.2);
          }
        }
      }
    }
  }
}
