// dropdown menu
.dropdown__ {
  position: relative;

  > a,
  .butt__ {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    color: $headingMainColor;
    font-size: 14px;
    width: 100%;

    &::after {
      content: url(../images/shapes/arrow-right.svg);
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      border: none !important;
      margin-inline-start: 6px;
      height: 18px;
    }
    
    &.info_link_block__ {
      &::after {
        content: url(../images/shapes/arrow-down.svg);
        margin: 0;
        margin-inline-start: auto;
        transition: 0.5s;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  .sub-menu__ {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    display: table;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #fff;
    z-index: -1;
    width: 100%;
    padding: 5px 0;
    border: none;
    transform-origin: center 0;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    padding: 12px 17px;
    border-radius: 0;
    transform: translateX(-50%);

    @include sm {
      min-width: 100%;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      a,
      .list_content__ {
        font-size: 11px;
        font-weight: 300;
        display: block;
        text-decoration: none;
        text-transform: capitalize;
        color: $headingMainColor;
        padding: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.5s;

        &::before {
          margin-inline-end: 10px;
        }

        &.my_requests {
          &::before {
            content: url(../images/shapes/task-square.svg);
          }
        }

        &.modify_my_data {
          &::before {
            content: url(../images/shapes/edit.svg);
          }
        }

        &.my_services {
          &::before {
            content: url(../images/shapes/my_services_header.svg);
          }
        }

        &.wallet__ {
          &::before {
            content: url(../images/shapes/wallet_for_header.svg);
          }
        }

        &.services_gallary__ {
          &::before {
            content: url(../images/shapes/services_gallary__.svg);
          }
        }

        &.package__ {
          &::before {
            content: url(../images/shapes/package__.svg);
          }
        }

        &.stop_notifications {
          .checkbox_button_wrapper__{
            position: relative;
            background: #eee;
            width: 23px;
            height: 12px;
            margin-inline-start: auto;
            border-radius: 8px;
            transition: background 0.5s ease;
            
            &::before{
              content: '';
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              inset-inline-end: 2px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: #fff;
              transition: transform 0.5s ease;
            }
            
            &:has(input[type="checkbox"]:checked){
              background: $secondaryColor;
              
              &::before{
                transform: translate(9px ,-50%);
              }
            }
            
            input[type="checkbox"]{
              opacity: 0;
              position: absolute;
              inset: 0;
              cursor: pointer;
            }
          }

          &::before {
            content: url(../images/shapes/notification2.svg);
          }
        }

        &.signout_link__ {
          border: none;
          background-color: transparent;

          &:focus,
          &:active {
            border: none;
            outline: none;
          }


          &::before {
            content: url(../images/shapes/log_out.svg);
          }
          
          &:hover {
            color: $mainRedColor;
            &::before {
              filter: unset !important;
            }
          }
        }

        &:hover {
          text-decoration: none;
          color: $secondaryColor;

          &::before {
            filter: invert(0.61) sepia(0.17) saturate(68.72) hue-rotate(3deg) brightness(0.96) contrast(0.98);
          }
        }
      }
    }
  }

  &:hover {
    .sub-menu__ {
      visibility: visible;
      opacity: 1;
      z-index: 111;
      border-radius: 0 0 25px 25px;

    }
  }
}


@include sm {
  .dropdown__ {
    > a,
    .butt__ {
      color: #fff;
      font-size: 14px;
      background-color: rgba(#fff, 0.2);
      height: 49px;
      padding: 0 10px;
      border-radius: 13px;

      &::after {
        filter: brightness(0) invert(1);
      }
    }

    .figure__ {
      filter: brightness(0) invert(1);
    }
  }
}