.sing-up-blocks {
  display: flex;
  align-items: center;


  .singup_link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondaryColor;
    border: 1px solid transparent;
    height: 49px;
    min-width: 168px;
    padding: 3px 20px;
    border-radius: $mainBorderRadius;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;

    @include dir {
      min-width: 130px;
    }

    @include md {
      min-width: 130px;
    }

    &:not(:last-child) {
      margin-inline-end: 5px;
    }

    &:hover {
      background-color: #fff;
      color: $secondaryColor;
      border-color: $secondaryColor;
    }
    
    &.login_link {
      border-color: transparent;
      background-color: $primaryColor;
      
      &:hover {
        border-color: $primaryColor;
        color: $primaryColor;
        background-color: #fff;
      }

    }

    .icon__ {
      background-color: transparent !important;
      margin-inline-end: 5px;
    }
  }

  &.nav_sign_block__ {
    display: none;
  }
}




@include sm {
  .sing-up-blocks {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    .singup_link {
        width: 50%;
        border-radius: 0;
        margin-bottom: 0;
        min-width: 70px;
        font-size: 14px;
        padding: 3px 10px;
        height: 49px;
        border: 1px solid rgba(#fff, 0.2);
        background-color: transparent;

        @include xxs {
          font-size: 10px;
        }
        
        &:hover {
          background-color: rgba($primaryColor, 0.2);
          color: #fff;
          border: 1px solid rgba(#fff, 0.2);
          color: #fff;
        }
        
        &.login_link {
          background-color: rgba(#fff, 0.2);
          border: 1px solid rgba(#fff, 0.2);
          color: #fff;
          height: 49px;
          margin: 0;
          
          &:hover {
            border: 1px solid rgba(#fff, 0.2);
            background-color: rgba(#fff, 0.2);
            color: #fff;
          }
      }
    }
  
    &.nav_sign_block__ {
        display: block;
        margin-bottom: 30px;
    }
  }
}