.textarea-om {
  height: 93px;
  resize: none;
  width: 100%;
  padding: 24px 33px;

  &.max_height_textarea_ {
    height: 159px;
  }

  &:focus,
  &:active,
  &:hover {
    outline: 0;
    border-color: $primaryColor;
    
  }

  &:focus,
  &:active {
    outline: 0;
    border-color: $primaryColor;

    &::placeholder {
      opacity: 0;
    }
    
  }
}
