.home_slider_section {
  .swiper-wrapper {
    position: relative;
  }

  .figure__ {
    padding-bottom: 51.65%;
    overflow: hidden;
    border-radius: 41px;
    position: relative;
    height: 562px;

    @include xs {
      max-height: 50vh;
    }

    .img-om {
      transform: scale(1);
      transition-delay: 5s, 250ms;
      transition-property: transform;
      transition: transform 25s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to top, $primaryColor, transparent);
      width: 100%;
      height: 100%;
    }
  }

  .swiper-slide {
    position: relative;
  }

  .slider_content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 11.03%;
    max-width: 530px;

    @include xs {
      width: 100%;
      padding: 0 10px;
    }
  }

  .slider_title__ {
    text-align: center;
    font-size: 33px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 13px;



    @include xxs {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .slider_parag__ {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    color: #fff;

    @include xxs {
      font-size: 10inpx;
      font-weight: 300;
    }
  }

  .swiper-slide-prev,
  .swiper-slide-next {

  }

  .swiper-slide-active {
    .figure__{
      .img-om {
        transform: scale(1.8);
      }
    }
  }
}

.about_us_section {
  position: relative;
  overflow: hidden;
  // background-color: rgba($secondaryColor, 0.05);
  background-color: $thirdColor;
  margin-top: 37px;

  .about_us_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;

    @include sm {
      gap: 20px;
      flex-direction: column;
    }
  }

  .about_us_block {
    padding: 50px 0;
    width: calc(50% - 30px);

    @include sm {
      width: 100%;
      padding: 20px 0;
    }

    &.about_us_photo_block__ {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        inset-inline-end: 0;
        height: 100%;
        width: 80%;
        // background-color: rgba($secondaryColor, 0.05);
        background-color: rgba($secondaryColor, 0.08);
        z-index: 1;
      }
    }
  }

  .img_wrapper {
    max-width: 75%;
    position: relative;
    z-index: 2;

    @include xs {
      max-width: 100%;
    }
  }

  .figure__ {
    padding-bottom: 150.66%;
    border-radius: $mainBorderRadius;
    overflow: hidden;
  }

  .section_header_wrapper__ {
    .section_title__ {
      font-size: 39px;

      @include sm {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }

    .section_sub_title__ {
      font-size: 20px;

      @include sm {
        font-size: 12px;
      }
    }

    @include sm {
      margin-bottom: 20px;
    }
  }

  .main_parag__ {
    font-size: 18px;
    font-weight: 700;
    color: $paragraphSecondaryColor;
    margin-bottom: 25px;

    @include sm {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }

  .parag__ {
    font-size: 16px;
    color: $paragraphThirdColor;
    font-weight: 300;
    margin: 0;

    @include sm {
      font-size: 12px;
      font-weight: 300;
    }

    &:not(:last-child) {
      margin-bottom: 40px;

      @include sm {
        margin-bottom: 20px;
      }
    }
  }
}

.our_products_section__ {
  padding-bottom: 80px;

  .figure__ {
    border-radius: $secondaryBorderRadius;
    overflow: hidden;
    padding-bottom: 78.4%;

    &:hover {
      .img-om {
        transform: scale(1.1);
      }
    }
  }
}

.contact_us_content {
  // background-color: rgba($secondaryColor, 0.26);
  background-color: rgba($thirdColor, 1);
  border-radius: $mainBorderRadius;
  padding: 68px 92px 77px;

  @include xs {
    padding: 30px 40px;
  }

  @include xxs {
    padding: 20px 10px;
  }

  .contacts_content_head {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 38px;

    .title__ {
      font-size: 20px;
      font-weight: 700;
      color: $primaryColor;

      @include xs {
        font-size: 16px;
      }
    }
  }
}
