.our_services_details_page {
  .figure__ {
    margin-bottom: 30px;
  }

  .page_title__ {
    font-size: 35px;
    font-weight: 700;
    color: $primaryColor;
    margin-bottom: 40px;
    text-align: center;
  }

.parag__ {
  font-size: 18px;
  font-weight: 500;
  
}
}