.real_estate_details_page {
  min-height: 55vh;
  .figure__ {
    padding-bottom: 60%;
    border-radius: $mainBorderRadius;
    overflow: hidden;

    &:hover {
      .img-om {
        transform: scale(1.1);
      }
    }
  }

  .head_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .title__ {
    color: $primaryColor;
    font-weight: 700;
  }
  
  .location_wrapper {
    background-color: rgba($primaryColor , 0.4);

    .icon__ {
      margin: 0;
    }
  }

}