.footer_sec__ {
  position: relative;
  background-blend-mode: overlay;
  background-size: cover;

  .footer_wave_photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 212px;

    @include sm {
      height: 130px;
    }

    @include xs {
      height: 80px;
    }
  }
}

.footer_content__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primaryColor;
  padding: 50px 90px;
  border-radius: $mainBorderRadius;
  gap: 50px;

  @include dir {
    gap: 25px;
  }

  @include sm {
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 50px 30px;
  }

  @include xs {
    padding: 30px 25px;
  }
}

.footer_logo__ {
  max-width: 166px;
  min-width: 166px;
  width: 166px;

  @include md {
    min-width: 100px;
  }

  @include sm {
    margin-bottom: 20px;
  }

  .figure__ {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}

.footer_list__ {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: fit-content;
  flex-wrap: wrap;
  column-gap: 24px;
  
  @include sm {
    justify-content: center;
    column-gap: 15px;
  }
  

  li {
    display: flex;
    justify-self: flex-start;
    width: calc(50% - 12px);
    margin-bottom: 20px;

    @include sm {
      width: calc(33% - 20px);
      margin-bottom: 20px;
    }

    @include xs {
      width: calc(50% - 20px);
    }
  }

  a {
    font-size: 12px;
    font-weight: 700;
    color: rgba(#fff, 0.8);
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    

    @include md {
      font-size: 10px;
    }

    @include sm {
      font-size: 12px;
    }

    @include dir {
      font-size: 11px;
      
      @include md {
        font-size: 8px;
      }
    }
  
    

    .figure__ {
      filter: brightness(0) invert(1);
    }

    &::before {
      content: "";
      display: block;
      width: 5px;
      height: 10px;
      background-color: $thirdColor;
      margin-inline-end: 8px;
    
    }

    @include sm {
      justify-content: center;
    }

    &:hover {
      opacity: 71%;
      padding-inline-start: 10px;
    }
  }

  &.contact_info {
    a {
      &::before {
        display: none;
      }

      .figure__ {
        margin-inline-end: 10px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

.socials_copyrights_wrapper__ {
  flex-shrink: 0;
}

.footer_socials__ {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  gap: 15px;

  @include xs {
    gap: 7px;
  }

  @include dir {
    gap: 5px;
  }

  .li__ {
    &:not(:last-child) {
      margin-inline-end: 13px;
    }

    @include xxs {
      &:not(:last-child) {
        margin-inline-end: 5px;
      }
    }
  }

  .link__ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 38px;
    transition: 0.5s;
    border-radius: $fourthBorderRadius;
    padding: 8px;
    border: 1px solid rgba(#fff, 0.28);

    img {
      filter: none;
    }

    &:hover {
      background-color: rgba(#fff, 0.4);
    }
  }
}

.copyrights_content___ {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0;
  font-size: 12px;
  display: flex;
  font-weight: 275;
  align-items: center;
  border: 0;

  @include sm {
    padding: 20px 0;
    justify-content: center;
  }

  @include xxs {
    font-size: 8px;
  }

  @include dir {
    font-size: 9px;
  }

  .copyright_icon__ {
    margin-inline-end: 10px;
    @include xxs {
      margin-inline-end: 5px;
    }
  }

  .copyright_logo__ {
    width: 90%;
    margin-inline-start: 10px;
    
    @include xxs {
    margin-inline-start: 5px;
    }
  }

  .maasader_logo {
    width: 33%;
  }
}
