@import "forms/input_block";
@import "forms/textarea_block";
@import "forms/submit_block";
@import "forms/select_block";
@import "forms/checkbox_input";
@import "forms/radio_input";
@import "forms/datepicker";

.form_wrapper__ {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 34px;
  padding: 85px 90px 75px;
  // border: 1px solid #f0f1f6;
  // box-shadow: 0 0 40px rgba(#000, 0.09);

  @include sm {
    padding: 20px;
    border-radius: 20px;
  }

  @include xs {
    padding: 30px 10px !important;
  }

  &.small_padding {
    padding: 30px 90px 45px;
  }

  &.none_padding {
    padding: 0;
  }
}

.contact_us_form_wrapper__ {
  border-radius: $secondaryBorderRadius;
  background-color: rgba($primaryColor, 0.07);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;

  @include sm {
    flex-direction: column-reverse;
    gap: 30px;

  }
}

.form_image__ {
  padding-bottom: 73%;
  margin-bottom: 15px !important;

  img {
    object-fit: contain;
  }

  &.small_size_image__ {
    max-width: 259px;
    margin: 0 auto;
    padding-bottom: 40%;
  }
}

.default_form__ {
  max-width: 536px;

  @include xxs {
    max-width: 340px;
  }
}

.main_form__ {
  min-width: 352px;

  @include xs {
    min-width: 100%;
  }
}

.form_title__ {
  margin-bottom: 27px;
  
  @include sm {
    margin-bottom: 10px;
  }

  .title__ {
    color: $headingMainColor;
    font-size: 33px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 15px !important;
    
    @include sm {
      font-size: 18px;
      margin-bottom: 10px !important;
      text-align: center;
    }
  }
  
  .sub_title__ {
    font-size: 18px;
    font-weight: 300;
    color: $paragraphMainColor;
    margin: 0;

    @include sm {
      text-align: center;
      font-size: 14px;
    }
  }


  .parg__ {
    font-size: 13px;
    color: $paragraphMainColor;
    margin-bottom: 0;

    &.verification_parag__ {
      margin-bottom: 10px !important;
      font-weight: 300;
    }

    &.not_full_width__ {
      max-width: 50%;
      margin: 0 auto;

      @include xs {
        max-width: 100%;
      }
    }
  }

  .number_parag__ {
    font-size: 14px;
    font-weight: 600;
    color: $headingMainColor;
    direction: ltr;
  }

  .link__ {
    font-size: 14px;
    color: $secondaryColor;
    margin-top: 10px;
  }

  &.centered {
    text-align: center;
  }
}

.second_form_title {
  font-size: 14px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 23px;
  text-align: center;
}

.input_group__ {
  margin-bottom: 10px;

  &.flex_group__ {
    display: flex;
    align-items: center;

    &.center__ {
      justify-content: center;
    }

    &.group_gap__ {
      gap: 10px;
    }
  }

  &.with_label__ {
    background-color: $inputBackgroundColor;
    padding: 12px 35px;
    border-radius: $mainBorderRadius;

    .label__ {
      font-size: 12px;
      font-weight: 300;
    }

    .input__,
    .select__ {
      height: fit-content;
      padding: 0;
    }

    .dropdown-toggle {
      height: fit-content;
      padding: 0;
      border: none;

      &:focus,
      &:active,
      &:hover {
        border-color: $primaryColor !important;
        color: $headingMainColor !important;
        outline: none !important;
      }
    }
  }

  &.column_dir__ {
    flex-direction: column;
  }

  &.small_size_column_dir {
    @include sm {
      flex-direction: column;
    }
  }

  &.none_margin__ {
    margin: 0;
  }

  &.custom_input_group__ {
    background-color: #fff;
    padding: 9px 28px;
    border-radius: $mainBorderRadius;
    border: 1px solid $inputBorderColor;

    .label__ {
      margin: 0;
      font-size: 12px;
      text-align: start;
    }

    .input__,
    .dropdown-toggle {
      padding: 0;
      margin: 0;
      border-radius: unset;
      border-color: transparent;
      height: fit-content;

      &:hover,
      &:active,
      &:focus {
        border-color: transparent !important;
      }
    }

    &:focus-within,
    &:hover {
      border-color: $primaryColor;
    }
  }
}

.final_buttons_wrapper__ {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_group_unit__ {
  display: flex;
  align-items: center;

  .input__ {
    border-radius: 0 $mainBorderRadius $mainBorderRadius 0;

    @include dir {
      border-radius: $mainBorderRadius 0 0 $mainBorderRadius;
    }
  }

  .unit__ {
    min-width: 67px;
    height: 56px;
    border-radius: $mainBorderRadius 0 0 $mainBorderRadius;
    border: 1px solid $borderBreakColor;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
  }
}

.label__ {
  color: $headingSecondaryColor;
  font-size: 15px;
  margin-bottom: 15px;
  display: block;

  .optional__ {
    font-size: 13px;
    color: $paragraphSecondaryColor;
    margin-inline-start: 5px;
  }

  &.centered {
    text-align: center;
  }
}

.password-group-om {
  position: relative;

  .input__ {
    padding-inline-end: 40px;
  }

  .show-password-button-om {
    position: absolute;
    top: 50%;
    inset-inline-end: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    outline: none;
    width: 22px;
    padding: 0;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;

    .icon__ {
      fill: #aaa;
    }

    &:focus {
      outline: none;
    }

    &.show-om {
      .icon__ {
        path {
          fill: $primaryColor;
        }
      }
    }
  }
}

.terms_and_conditions_label__ {
  margin-inline-start: 35px;
  font-size: 15px;
  display: flex;
  gap: 2px;

  @include xs {
    font-size: 12px;
  }

  @include xxs {
    font-size: 10px;
  }

  .terms_and_conditions_link__ {
    font-size: 13px;
    color: $secondaryColor;

    @include xs {
      font-size: 12px;
    }

    @include xxs {
      font-size: 10px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.chat_input_wrapper {
  display: flex;
  align-items: center;
  border: solid 1px $inputBorderColor;
  border-radius: $mainBorderRadius;
  padding: 0 20px;

  .input__ {
    border: none;
    padding: 0;
  }

  .chat_file_input {
    display: none;
  }

  .chat_file_label {
    margin: 0;
    cursor: pointer;

    &:hover {
      filter: invert(0.45) sepia(0.92) saturate(6.76) hue-rotate(3deg)
        brightness(1.03) contrast(0.98);
    }
  }

  &:focus-within,
  &:hover {
    border-color: $primaryColor;
  }
}

.upload_profile_photo_input {
  opacity: 1;
  display: none;
}

.uploadProfile_title__ {
  font-size: 14px;
  font-weight: 400;
  color: $headingMainColor;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.uploadProfile_sub_title__ {
  font-size: 10px;
  font-weight: 300;
  color: $paragraphFourthColor;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.uploadProfile_parag__ {
  font-size: 12px;
  font-weight: 300;
  color: $paragraphFourthColor;
  margin-bottom: 6px;
}

.upload_profile_photo_label {
  position: relative;
  margin-bottom: 44px;
  cursor: pointer;

  .provider_img_block {
    width: 102px;
    height: 102px;
    border-radius: 50%;
    border: 3px solid #F6F8FD;
    background-color: #fff;
    padding: 5px;
    overflow: hidden;
    
    &::before {
      width: calc(100% + 7px);
      height: calc(100% + 7px);
      background-color: rgba($primaryColor, 0.49);
      border-color: transparent;
    }
  }

  .provider_profile_figure__ {
    height: 100%;
    overflow: hidden;

    .img-om {
      border-radius: 50%;
    }
  }

  .upload_profile_photo_label_overlay__ {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #fff;
    border: 3px solid #F6F8FD;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
  }
}

.input_group_with_icon__ {
  position: relative;

  .input__,
  .select__ {
    padding-inline-start: 60px;
  }

  &.icon__group_padding__ {
    padding-inline-start: 62px;
  }

  &::before {
    position: absolute;
    top: 50%;
    inset-inline-start: 30px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }

  &.name_input_group__ {
    &::before {
      content: url(../images/shapes/name_input.svg);
    }
  }

  &.phone_input_group__ {
    &::before {
      content: url(../images/shapes/phone_input.svg);
    }
  }

  &.mail_input_group__ {
    &::before {
      content: url(../images/shapes/mail_input.svg);
    }
  }

  &.select_input_group__ {
    &::before {
      content: url(../images/shapes/select_input.svg);
    }
  }
}

.radio_inputs_wrapper__ {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 15px;
  width: 100%;

  @include xxs {
    gap: 5px;
  }

  &.packages_radio_inputs_wrapper__ {
    flex-direction: column;

    .radio-group-om {
      width: 100%;
    }

    .radio-label {
      padding-inline-start: 45px !important;
      width: 100%;
      justify-content: unset;
      height: 73px;
      border-radius: $secondaryBorderRadius;
      padding: 15px 25px;
    }

    .package_info__ {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .title__ {
      font-size: 13px;
      font-weight: 400;
      color: $secondaryColor;
      margin-bottom: 7px;
    }

    .sub_title__ {
      color: $secondaryColor;
      font-size: 13px;
      font-weight: 300;
      margin: 0;
    }

    .price__ {
      margin-inline-start: auto;
      font-size: 20px;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $secondaryColor;

      .currency__ {
        font-size: 13px;
        font-weight: 600;
        margin-top: -5px;
      }
    }

    .figure__ {
      margin-inline-end: 15px;
      transform: scale(1.2);
    }
  }
}
