@import "header/dropdown";
@import "header/login_buttons";
@import "header/1_logo";
@import "header/2_navbar";
@import "header/toolbar_options";

.fixed_header__ {
  position: relative;
  z-index: 111;
  padding-bottom: 12.5px;

  &.active_menu__,
  &.not_active_menu__ {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
    padding: 0;
    transition: 0s;

    .header_contacts_wrapper__ {
      display: none;
    }

    .header_content__ {
      border-radius: 0 0 $mainBorderRadius $mainBorderRadius;
      padding: 15px 30px 25px;
    }
  }

  &.active_menu__ {
    animation: active-menu 0.5s;

  }

  &.not_active_menu__ {
    animation: not-active-menu 0.5s;
    // transform: translateY(-100%);
    top: -200px;
  }
}

.header_content_wrapper__ {
  // background-color: rgba($secondaryColor , 0.5);
  background-color: $thirdColor;
  border-radius: $mainBorderRadius;
}


.header_content__ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primaryColor;
  padding: 30px 70px;
  border-radius: $mainBorderRadius;

  @include sm {
    padding: 13px 20px;
  }

}

@keyframes active-menu {
  0% {
    // transform: translateY(-100%);
    top: -200px;
  }

  100% {
    // transform: translateY(0);
    top: 0;
  }
}

@keyframes not-active-menu {
  0% {
    // transform: translateY(0);
    top: 0;
  }

  100% {
    // transform: translateY(-100%);
    top: -200px;
  }
}
