// swiper slider
.swiper-button-next,
.swiper-button-prev {
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid #fff;
  transition: 0.5s;
  overflow: hidden;
  background-color: $primaryColor;

  &.swiper-button-disabled {
    background-color: rgba($primaryColor, 0.25);
    opacity: 1;

    &::after {
      filter: unset;
    }
  }

  &::after {
    content: "";
    filter: brightness(0) invert(1);
    background-image: url("../images/shapes/arrow_left.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    transform: unset;

    @include dir {
      transform: rotateY(-180deg);
    }
  }

  &:hover {
    background-color: rgba($primaryColor, 0.9);

    &::after {
      filter: brightness(0) invert(1);
    }
  }
}

.swiper-button-next {
  &::after {
    transform: rotateY(-180deg);

    
    @include dir {
      transform: rotateY(0);
    }
  }
}

// swiper-pagination
.swiper-pagination {
  position: absolute;
  left: 50% !important;
  bottom: 5% !important;
  width: fit-content !important;
  transform: translateX(-50%);
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  margin: 0 !important;
  border-radius: 0px;
  // background-color: rgba($secondaryColor, 0.45);
  background-color: rgba($thirdColor, 0.45);
  opacity: 1;
  width: 11px;
  height: 5px;
  transition: 0.5s;

  @include xs {
    width: 8px;
    height: 3px;
  }

  &.swiper-pagination-bullet-active {
    // background-color: rgba($secondaryColor, 1);
    background-color: rgba($thirdColor, 1);
    width: 21px;
  }
}

// ##################################################################

.arrow-sec {
  display: flex;
  align-items: flex-end;
  height: 40px;
  padding: 0 !important;
  gap: 8px;

  .swiper-button-next,
  .swiper-button-prev {
    position: unset !important;
    bottom: unset !important;
    top: unset !important;
    transform: unset !important;
  }
}

.swiper-slide {
  &:focus,
  &:active {
    outline: none;
    border: none;
  }
}
