@keyframes scaleInAndOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes headerScaleInAndOut {
  0% {
    transform: translate(-50% , -50%) rotate(-45deg);
  }
  50% {
    transform: translate(-150% , -50%) rotate(-45deg);
  }
  100% {
    transform: translate(-50% , -50%) rotate(-45deg);
  }
}


@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}


@keyframes clockRotate {
  0% {
    transform: rotate(181deg)    
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes spin {
  100% {
    transform: rotate(180deg)
  }
}

.shapes_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

  .squire_shape__ {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) rotate(-45deg);
    background-color: transparent;
    width: 428px;
    height: 428px;
    border-radius: 57px;
    border: 6px solid #fff;
    animation: headerScaleInAndOut 3s infinite;

    @include xs {
      width: 314px;
      height: 314px;
    }

    &:nth-child(2) {
      border-width: 4px;
      opacity: 0.25;
      width: 361px;
      height: 361px;

      @include xs {
        width: 280px;
        height: 280px;
      }
    }

    &:nth-child(3) {
      border-width: 8px;
      opacity: 0.25;
      width: 300px;
      height: 300px;
      @include xs {
        width: 250px;
        height: 250px;

      }
    }
  }

  @for $i from 1 through 5 {
    .shape:nth-child(#{$i}) {
      animation-delay: #{$i * 0.6}s;
    }
  }
}