.nav-tabs {
  margin: 0 auto;
  padding: 0;
  border: none;
  gap: 15px;
  width: fit-content;
  flex-wrap: nowrap;
  margin-bottom: 50px;
  
  @include sm {
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
  }

  @include dir {
    flex-wrap: wrap;
  }
  
  .nav-item {
    height: 52px;
    width: 253px;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: $mainBorderRadius;
    color: $paragraphMainColor;
    border: 1px solid rgba($primaryColor, 0.13);
    transition: 0.5s;
    

    @include sm {
      font-size: 14px;
      padding: 20px 0;
      height: fit-content;
      width: fit-content;
      max-width: calc((100%/3) - 5px) !important;
      width: calc(33.333% - 5px);
    }

    @include dir {
      font-size: 12px;

      @include xs {
        width: 100% !important;
        max-width: 100% !important;
      }
    }

    &:hover {
      background-color: rgba($primaryColor, 0.2);
    }

    &.active {
      background-color: $primaryColor;
      color: #fff;
    }
  }
}
