.fancybox_title__ {
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}

.fancybox_parag__ {
  text-align: center;
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
}

.fancybox_price {
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}