.site_link {
  background-color: transparent;
  color: $primaryColor;
  font-size: 14px;
  font-weight: 400;
  padding: 0 53px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border: 1px solid $primaryColor;
  border-radius: 60px;
  gap: 10px;
  margin: 0 auto;
  transition: 0.5s;


  .icon__ {
    filter: brightness(0) invert(1);
  }

  &:hover {
    background-color: $primaryColor;
    text-decoration: none;
    color: #fff;
  }
}

