.section_header_wrapper__ {
  margin-bottom: 60px;
  width: fit-content;
  position: relative;
  height: fit-content;

  @include xs {
    margin-bottom: 30px;
  }

  .section_title__ {
    font-size: 30px;
    font-weight: 800;
    color: $headingMainColor;
    text-transform: capitalize;
    margin-bottom: 14px;

    @include xs {
      font-size: 20px;
    }
  }

  .section_sub_title__ {
    font-size: 20px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin: 0;

    @include xs {
      font-size: 12px;
    }
  }

  &.center__ {
    margin-left: auto;
    margin-right: auto;

    .section_title__,
    .section_sub_title__ {
      text-align: center;
    }
  }

  &.center_small_screen_only {
    @include sm {
      margin-left: auto;
      margin-right: auto;

      .section_title__,
      .section_sub_title__ {
        text-align: center !important;
      }
    }
  }
}

.site_head_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;

  @include xs {
    margin-bottom: 30px;
    flex-direction: column;
    gap: 20px;
  }

  .section_header_wrapper__ {
    margin: 0;
  }
}

.link_arrow_wrapper {
  display: flex;
  align-items: center;
  gap: 30px;

  @include xs {
    flex-direction: column;
    gap: 20px;
  }

  &.our_services_link_arrow_wrapper {
    margin-top: 47px !important;
    justify-content: center;

    .arrow-sec {
      margin-bottom: 13px;
    }
  }
}
