.our_projects_card {
  // background-color: rgba($secondaryColor, 0.26);
  background-color: rgba($thirdColor, 1);
  border-radius: $mainBorderRadius;
  
  .img_wrapper {
    border-radius: $mainBorderRadius;
    overflow: hidden;
  }

  .figure__ {
    padding-bottom: 47.76%;

    .img-om {
      transition: 0.5s;
    }
  }

  .card_description__ {
    padding: 27px;
    padding-bottom: 35px;
  }

  .title__ {
    font-size: 20px;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 13px;
    transition: 0.5s;
  }

  .parag__ {
    font-size: 13px;
    font-weight: 400;
    color: rgba($primaryColor, 0.8);
    margin-bottom: 20px;
  }

  &:hover {
    .figure__ {
      .img-om {
        transform: scale(1.2);
      }
    }

    .title__ {
      color: $primaryColor;
    }
  }
}
