.our_services_card__ {
  padding: 50px 40px;
  border-radius: $thirdBorderRadius;
  position: relative;
  // background-color: rgba($secondaryColor, 0.26);
  background-color: rgba($thirdColor, 1);
  transition: 0.5s;

  @include xs {
    padding: 20px 10px;
  }

  .our_services_card_wrapper__ {
    position: relative;
    z-index: 2;
  }

  .icon__ {
    filter: brightness(0);
    margin-bottom: 45px;
  }

  .asp-om {
    padding-bottom: 126.618%;
    overflow: hidden;
  }

  .title__ {
    color: $primaryColor;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    text-align: center;

    @include xs {
      font-size: 13px;
    }
  }

  .parag__ {
    font-size: 16px;
    font-weight: 400;
    color: rgba($primaryColor, 0.8);
    text-align: center;

    @include xs {
      font-size: 10px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 100%;
    width: 80%;
    transform: translateX(-50%);
    background-color: rgba($secondaryColor, 0.26);
    border-radius: 40px;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
  }

  &:hover {
    background-color: $primaryColor;
    text-decoration: none;

    &::after {
      bottom: -17px;
      opacity: 1;
    }

    .icon__ {
      filter: unset;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        width: 14px;
        height: 14px;
        background-color: $secondaryColor;
        border-radius: 50%;
      }
    }

    .title__ {
      color: #fff;
    }

    .parag__ {
      color: rgba(#fff, 0.8);
    }
  }
}

.inline_link {
  display: flex;
  width: fit-content;
  padding: 0;
  margin: 0;

  &:hover {
    text-decoration: none;
  }
}