.real_estate_card {
  position: relative;
  border-radius: $fourthBorderRadius;
  overflow: hidden !important;
  height: fit-content;
  display: flex;
  
  >.figure__ {
    flex-grow: 1;
    padding-bottom: 128.97%;
    overflow: hidden;
    border-radius: $fourthBorderRadius;
  }
  
  .card_description__ {
    position: absolute;
    bottom: 10px;
    inset-inline-start: 0;
    width: 100%;
    padding: 15px 20px;
    z-index: 5;
  }
  
  .title__ {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    text-transform: capitalize;
  }
  
  .parag__ {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
  }
  

  
  &::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(to top , $primaryColor , transparent);
    border-radius: $fourthBorderRadius;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;

  }
  
  &:hover {
    >.figure__ {
      .img-om {
        transform: scale(1.1);
      }
    }
  }
}

.location_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 22px;
  border-radius: $fourthBorderRadius;
  background-color: rgba(#fff , 0.13);
  width: fit-content;
}

.location_title__ {
  color: #fff;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  
}